<!doctype html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  </head>
  <body class="d-flex flex-column min-vh-100">
    {{> header}}

    <main class="flex-grow-1 py-4">
      <div class="container">
        {{{body}}}
      </div>
    </main>

    {{> footer}}

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
  </html>


